<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Restlet Framework | {{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" type="image/x-icon" href="/static/app/images/favicon.ico">

  <link rel="stylesheet" type="text/css" href="/assets/css/vendor/magnific-popup.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/assets/css/app.min.css">


  <link href="/assets/css/vendor/prism.css" rel="stylesheet" />
  <link href="/assets/css/vendor/component.css" rel="stylesheet" />


  <script type="text/javascript" src="/static/CACHE/js/f9e2d28850d2.js"></script>


  <!-- SumoMe Analytics Tag -->
  <script src="//load.sumome.com/" data-sumo-site-id="86e51a0b7e5d602926ca17b605a54fe42d0d7e33ea367be2881ed2c89b0295cf" async="async"></script>

  <!-- Version 2.19.1 -->
</head>
