<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Restlet Framework | {{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-security-policy" content="default-src 'self' 'unsafe-inline' 'unsafe-eval'; child-src 'self' https://www.youtube.com https://player.vimeo.com https://fast.wistia.net https://*.pendo.io https://*.cloud.talend.com https://recaptcha.net; object-src 'none'; font-src data: 'self' https://*.cloud.talend.com; frame-ancestors 'self' https://*.pendo.io https://*.cloud.talend.com; media-src 'self' https://*.cloud.talend.com; img-src blob: data: 'self' https://*.swagger.io https://*.pendo.io https://*.cloud.talend.com https://i.ytimg.com; style-src 'self' 'unsafe-inline' https://*.pendo.io https://*.cloud.talend.com; script-src blob: 'self' 'unsafe-inline' 'unsafe-eval' https://*.pendo.io https://pendo-io-static.storage.googleapis.com https://*.cloud.talend.com https://recaptcha.net https://*.gstatic.com; connect-src 'self' https://*.sentry.io https://*.pendo.io https://*.talend.com;">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">

  <link rel="stylesheet" type="text/css" href="/assets/css/vendor/magnific-popup.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/assets/css/app.min.css">


  <link href="/assets/css/vendor/prism.css" rel="stylesheet" />
  <link href="/assets/css/vendor/component.css" rel="stylesheet" />

  <!-- Version 2.19.1 -->
</head>
