<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Restlet Framework | {{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">

  <link rel="stylesheet" type="text/css" href="/assets/css/vendor/magnific-popup.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/assets/css/app.min.css">


  <link href="/assets/css/vendor/prism.css" rel="stylesheet" />
  <link href="/assets/css/vendor/component.css" rel="stylesheet" />

  <!-- Version 2.19.1 -->
</head>
