<script type="text/javascript" src="/assets/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/assets/js/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.dlmenu.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/init.js"></script>
<script type="text/javascript" src="/assets/js/prism.js" data-default-language="markup"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/downloads.js"></script>

