<script src="/assets/js/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/js/modernizr-2.8.3.min.js"></script>

<script src="/assets/js/jquery.dlmenu.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {

    $('[id^="subsubmenu"] li a').on("click", function (e) {
      $(this).addClass('active');
      $(this).parent().siblings().find('a').removeClass('active');
    });

    $('#id_versions').change(function () {
      window.location.href = $(this).val();
    });

    // Mobi sub navigation toggle
    $(function () {
      $('#dl-menu').dlmenu();
    });
  });
</script>
<script src="/assets/js/prism.js" data-default-language="markup"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>

