<!doctype html>
<html class="no-js" lang="">

{% include head.html %}

<body class="framework-index">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
  <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

{% include homepage/navbarTop.html %}

<main id="main" role="main">
  {% include homepage/header.html %}

  {% include homepage/contentView.html %}
</main>

{% include footer.html %}

{% include scripts.html %}

</body>
</html>
